<div class="grid">
	<div class="col-12">
		<p-panel [toggleable]="true">
			<p-header>Filters</p-header>
			<div class="formgrid">
				<form [formGroup]="formGroup">
					<div class="grid">
						<div class="col-6">
							<input pInputText formControlName="name" placeholder="Card name" id="name" name="name" class="w-full" />
						</div>
						<div class="col-6">
							<input pInputText formControlName="desc" placeholder="Card description" class="w-full" />
						</div>
						<div class="col-6">
							<input pInputText formControlName="atk" placeholder="Value monster atack" class="w-full" />
						</div>
						<div class="col-6">
							<input pInputText formControlName="def" placeholder="Value monster deffense" class="w-full" />
						</div>
						<div class="col-6">
							<p-dropdown
								[options]="types"
								optionLabel="name"
								formControlName="type"
								placeholder="Select a card type"
								appendTo="body"
								class="w-full p-fluid"
							></p-dropdown>
						</div>
						<div class="col-6">
							<p-dropdown
								[options]="races"
								optionLabel="name"
								formControlName="race"
								placeholder="Select a card race"
								appendTo="body"
								class="w-full p-fluid"
							></p-dropdown>
						</div>
						<div class="col-6">
							<p-dropdown
								[options]="frames"
								optionLabel="name"
								formControlName="frame"
								placeholder="Select a frame race"
								appendTo="body"
								class="w-full p-fluid"
							></p-dropdown>
						</div>
						<div class="col-6">
							<p-dropdown
								[options]="attributes"
								optionLabel="name"
								formControlName="attribute"
								placeholder="Select a attribute race"
								appendTo="body"
								class="w-full p-fluid"
							></p-dropdown>
						</div>
						<div class="col-6">
							<label>Level: </label>
							<p-rating formControlName="level" [cancel]="false" [stars]="12"></p-rating>
						</div>
					</div>
				</form>
			</div>
			<p-footer>
				<div class="grid">
					<div class="col-1">
						<p-button label="Search" (onClick)="listCards()"></p-button>
					</div>
					<div class="col-1">
						<p-button label="Clear" (onClick)="onClearFilters()"></p-button>
					</div>
				</div>
			</p-footer>
		</p-panel>
	</div>

	<div class="col-12">
		<p-panel [toggleable]="true">
			<p-header>
				<span>List of Cards</span>
			</p-header>
			<div class="ui-g ui-fluid">
				<div class="ui-md-12 ui-g-12">
					<p-table
						[value]="cards"
						[columns]="columns"
						[loading]="loading"
						[rows]="10"
						[showCurrentPageReport]="true"
						currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
						[paginator]="true"
						[tableStyle]="{ 'min-width': '50rem' }"
						[rowsPerPageOptions]="[10, 25, 50]"
					>
						<ng-template pTemplate="header" let-columns>
							<tr>
								<th *ngFor="let col of columns" pSortableColumn="{{ col.field }}">
									<span>{{ col.header }}</span>
								</th>
							</tr>
						</ng-template>

						<ng-template pTemplate="body" let-columns="columns" let-rowData>
							<tr>
								<td *ngFor="let col of columns">
									<ng-container [ngSwitch]="col.field">
										<ng-container *ngSwitchCase="'view'">
											<p-button
												icon="pi pi-external-link"
												styleClass="p-button-rounded p-button-help"
												(onClick)="onShowDialog(rowData)"
											></p-button>
										</ng-container>
										<ng-container *ngSwitchDefault>
											<span>
												{{ rowData[col.field] }}
											</span>
										</ng-container>
									</ng-container>
								</td>
							</tr>
						</ng-template>
						<ng-template pTemplate="paginatorleft">
							<p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
						</ng-template>
						<ng-template pTemplate="paginatorright">
							<p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
						</ng-template>
					</p-table>
				</div>
			</div>
		</p-panel>
	</div>
</div>

<app-card-details #cardDetailsDialog></app-card-details>
