<p-dialog
	header="Card Detail - {{ card.name || '' }}"
	[(visible)]="show"
	[maximizable]="true"
	(onHide)="onHide()"
	(onMaximize)="onMaximize($event)"
>
	<diV class="grid">
		<div [ngClass]="getGridCol()">
			<p-galleria
				[value]="card.card_images"
				[showIndicators]="true"
				[showThumbnails]="false"
				[responsiveOptions]="responsiveOptions"
				[containerStyle]="{ 'max-width': '640px' }"
			>
				<ng-template pTemplate="item" let-item *ngIf="!isLoading">
					<img [src]="item.image_url" style="width: 100%; display: block" />
				</ng-template>
			</p-galleria>
		</div>
		<div [ngClass]="getGridCol(true)" *ngIf="maximized">
			<p-tabView [activeIndex]="0">
				<p-tabPanel header="Price">
					<div class="grid">
						<div class="col-12">
							<label>Cardmarket: ${{ card.card_prices[0].cardmarket_price }}</label>
						</div>
						<div class="col-12">
							<label>TCGPlayer: ${{ card.card_prices[0].tcgplayer_price }}</label>
						</div>
						<div class="col-12">
							<label>Ebay: ${{ card.card_prices[0].ebay_price }}</label>
						</div>
						<div class="col-12">
							<label>Amazon: ${{ card.card_prices[0].amazon_price }}</label>
						</div>
						<div class="col-12">
							<label>CoolStuffInc: ${{ card.card_prices[0].coolstuffinc_price }}</label>
						</div>
					</div>
				</p-tabPanel>
				<p-tabPanel header="Card sets">
					<p-table
						[value]="card.card_sets"
						[columns]="columns"
						[rows]="10"
						[paginator]="true"
						[totalRecords]="card.card_sets.length"
						[loading]="isLoading"
						currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
						dataKey="set_name"
						[responsive]="true"
					>
						<ng-template pTemplate="header" let-columns>
							<tr>
								<th style="width: 5rem"></th>
								<th *ngFor="let col of columns" id="header">
									<span>{{ col.header }}</span>
								</th>
							</tr>
						</ng-template>
						<ng-template pTemplate="body" let-columns="columns" let-rowData let-expanded="expanded">
							<tr>
								<td>
									<button
										type="button"
										pButton
										pRipple
										[pRowToggler]="rowData"
										class="p-button-text p-button-rounded p-button-plain"
										[icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
									></button>
								</td>
								<td *ngFor="let col of columns">
									<span>{{ rowData[col.field] }}</span>
								</td>
							</tr>
						</ng-template>
						<ng-template pTemplate="rowexpansion" let-rowData>
							<tr>
								<td colspan="7">
									<div class="p-3">
										<p-table
											[value]="card.card_sets"
											[columns]="columnsRowExpansion"
											[rows]="10"
											dataKey="set_code"
											[paginator]="true"
											currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
											[totalRecords]="card.card_sets.length"
											[responsive]="true"
										>
											<ng-template pTemplate="header" let-columuns="columnsRowExpansion">
												<tr>
													<th *ngFor="let col of columnsRowExpansion">
														<span>{{ col.header }}</span>
													</th>
												</tr>
											</ng-template>
											<ng-template pTemplate="body" let-columns="columnsRowExpansion" let-rowData>
												<tr>
													<td *ngFor="let col of columnsRowExpansion">
														<span>{{ rowData[col.field] }}</span>
													</td>
												</tr>
											</ng-template>
										</p-table>
									</div>
								</td>
							</tr>
						</ng-template>
					</p-table>
				</p-tabPanel>
			</p-tabView>
		</div>
	</diV>
</p-dialog>
